/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.main-heading {
  font-family: 'Roboto';
  color: #2d3a35;
  font-size: 48px;
}
.description {
  font-size: 16px;
}
.number {
  color: #c20a72;
}
.click-button {
  background-color: #007bff;
  color: #ffffff;
  border: 0px;
  height: 25px;
  border-radius: 3px;
  font-family: 'Roboto';
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
